<div class="panel panel-warning">
  <div class="panel-heading">{{answer.responder}} said:</div>
  <div class="panel-body">
    <blockquote>
        {{answer.response}}
    </blockquote>
{{answer-update answer=answer updateAns='updateAns' deleteAns='deleteAns'}}
</div>
</div>
