<h4>All the questions and answers</h4>

<div class="well">
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</div>

{{new-question saveQuestion='saveQuestion'}}

<button {{action 'clear'}}>Clear All</button>
